<div class="container mt-4">
  <div class="card">
      <div class="card-body">
         <span class="h3">Lista de empleados</span>

        <button type="button" class="btn btn-dark btn-lg float-right" routerLink="/create-empleado">Agregar</button>

         <table class="table mt-5">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Nombre</th>
              <th scope="col">Apellido</th>
              <th scope="col">Documento</th>
              <th scope="col">Salario</th>
              <th scope="col"></th>

            </tr>
          </thead>
          <tbody *ngFor="let item of items | async">
            <tr>
              <td>{{item.name}}</td>
              <td>{{item.lastname}}</td>
              <td>{{item.document}}</td>
              <td>{{item.salary}}</td>

              <td><i class="fa-solid fa-pen-to-square fa-lg text-info mr-2"></i>
                  <i class="fa-solid fa-trash fa-lg text-danger"></i>
              </td>


            </tr>


          </tbody>
        </table>

       


      </div>
  </div>
</div>
